In [1]:
import pandas as pd
import sympy as sp
df = pd.DataFrame( {"A":[4,2,6], "B":[9,1,8], "C":[5,7,4]} , index=[1,2,3])

display(df)

   A  B  C
1  4  9  5
2  2  1  7
3  6  8  4

In [3]:
import numpy as np
mat = np.random.randint(0,10,(4,4))
numpy_dif = pd.DataFrame(mat, columns=['A','B','C','D'])
numpy_dif

   A  B  C  D
0  7  0  5  0
1  4  9  1  6
2  8  7  3  6
3  2  3  8  6

In [4]:
df.sort_values("B")

   A  B  C
2  2  1  7
3  6  8  4
1  4  9  5

In [8]:
# RENAME
df.rename(columns = {"A":"col_1","B":"col_2","C":"col_3"},index={1:"row 1",2:"row 2",3:"row 3"})

       col_1  col_2  col_3
0          2      3      3
row 1      5      6      8

In [ ]:
# DROP - you can use drop() to remove columns and rows from a dataframe
df.drop(columns={"B"}, index={1,3})

In [7]:
# reset drop
df = pd.DataFrame({"A":[2,1,5],"B":[3,5,6], "C":[3,6,8]})
df = df.drop(1)
display(df)
df=df.reset_index(drop=True)
df

   A  B  C
0  2  3  3
2  5  6  8

   A  B  C
0  2  3  3
1  5  6  8

In [9]:
# CONCAT
df1 = pd.DataFrame( {"A":[4,2], "B":[9,1]},
                  index = ["row 1", "row 2"])
df2 = pd.DataFrame ( {"A":[5,3], "B":[7,9]},
                  index = ["row 3", "row 2"])
res = pd.concat([df1,df2])
res

       A  B
row 1  4  9
row 2  2  1
row 3  5  7
row 2  3  9

In [14]:
# slicing
df = pd.DataFrame(np.random.randint(0,10,(3,5)),
                 columns = ["a", "b", "c","d","e"] )
df

   a  b  c  d  e
0  4  6  8  1  9
1  2  3  7  3  7
2  7  3  2  2  3

In [15]:
# see columns from a dataframe
display(df [["a","c"]])
display(df.filter(regex="b"))

   a  c
0  4  8
1  2  7
2  7  2

   b
0  6
1  3
2  3

In [16]:
# loc and inloc
display(df.loc[:, "b":"d"])
display(df.iloc[2,3])

   b  c  d
0  6  8  1
1  3  7  3
2  3  2  2

2

In [18]:
header = pd.MultiIndex.from_tuples([("A","x"),("A","y"),("B","u"),("B","v")])
ind = [np.array(["M","M","N","N"]),
      np.array(["bar","foo","baz","qux"])]
data = np.array([[9,4,8,5],[4,4,0,1],[5,7,4,5],[6,6,2,2]])
df = pd.DataFrame(data,columns=header,index=ind)
df

       A     B
       x  y  u  v
M bar  9  4  8  5
  foo  4  4  0  1
N baz  5  7  4  5
  qux  6  6  2  2

In [19]:
df.loc[("M","foo"),("A","x")]

4