In [ ]:
import pandas as pd
import sympy as sp
import numpy as np

In [ ]:
b = np.array([1,1,1])
h = np.array([1,2,3])
df = pd.DataFrame({"b":b, "h":h})

In [6]:
df["I"] = (df.b*(df.h)**3)/12
df

   b  h         I
0  1  1  0.083333
1  1  2  0.666667
2  1  3  2.250000